$clr-primary: hsl(300, 43%, 22%);
$clr-text-accent: hsl(333, 80%, 67%);
$clr-text-secondary: hsl(303, 10%, 53%);
$clr-secondary-background: hsl(300, 24%, 96%);
$clr-primary-background: hsl(0, 0%, 100%);