@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --clr-primary: hsl(300, 43%, 22%);
    --clr-txt-secondary: hsl(333, 80%, 67%);
    --clr-txt-accent: hsl(303, 10%, 53%);
    --clr-bg-secondary: hsl(300, 24%, 96%);
    --clr-bg-primary: hsl(0, 0%, 100%);
    --title-size: 2.5rem;
    --text-size: 1rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 15px;
    background-color: var(--clr-bg-primary);

    font-family: 'Spartan', sans-serif;
}
body {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);


}
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("images/bg-pattern-top-mobile.svg") top left, url("images/bg-pattern-bottom-mobile.svg") bottom left; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: var(--title-size);
    line-height: 2.5rem;
    color: var(--clr-primary);
}

h2 {
    line-height: 1.3;
    padding-bottom: 0.2rem;
}
h2, h3, h4, h5, p {
    font-size: var(--text-size);
}

p {
    line-height: 1.4rem;
    color: var(--clr-primary);
}

.upper-container {
    margin: 46.8px 26.68px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    max-width: 1120px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    max-width: 430px;
}

.title {
    margin-block: 24px;
    max-width: 370px;
}
.intro {
    max-width: 370px;
}

.ratings-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 545px;
}

.rating {
    flex: none;
    width: 100%;
    height: 5rem;
    margin: 7.72px 0;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-bg-secondary);
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
    border-radius: 1rem;
    max-width: 440px;
    
}

.stars {
    justify-self: center;
    display: flex;
    width: 115px;
    height: 16px;
    justify-content: space-between;
}

.star {
    height: 1rem;
    width: 1rem;
    background: url("images/icon-star.svg");
    background-size: cover;
}

.rating-text {
    height: var(--text-size);
}

.lower-container {
    margin: 46.8px 27px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    max-width: 1123px;
}

.testimonial {
    border-radius: 1rem;
    margin: 28px;
    display: grid;
    width: 100%;
    max-width: 350px;
    height: auto;
    grid-template-columns: 41px auto;
    grid-template-rows: 3.16rem 3.16rem auto;
    background-color: var(--clr-primary);
}

.testimonial-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 50%;
    max-width: 3.75rem;
    max-height: 3.75rem;
    margin: 2.34rem;
}

.testimonial-name {
    margin-top: 3.28rem;
    margin-bottom: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--clr-bg-primary);

}

.testimonial-status {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 1.4rem;
    color: var(--clr-txt-secondary);
    font-weight: 400;
}

.testimonial-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0.94rem 1.88rem 2.81rem 1.88rem;
    color: var(--clr-bg-primary);
    font-weight: 500;
}

.attribution {
    text-align: center;
    font-size: 0.5rem;
}

@media screen and (min-width: 1296px) {
    body {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
    }
    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("images/bg-pattern-top-desktop.svg") top left, url("images/bg-pattern-bottom-desktop.svg") bottom right; 
        background-repeat: no-repeat;
        background-size: cover;
        width: 375px;
        height: 100vh;
    }
    h1 {
        font-size: 2.67rem;
        line-height: 2.67rem;
    }
    .upper-container {
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        max-width: 1124px;
    }
    .intro-container {
        flex-grow: 1;
        max-width: 50%;
        align-items: flex-start;
    }
    .ratings-container {
        flex-grow: 1;
    }
    .rating {
        height: 3rem;
        flex-direction: row;
    }
    .lower-container {
        flex-direction: row;
        height: 40vh;
        justify-content: space-between;
    }
    .testimonial {
        margin-left: 0;
        margin-right: 0;
    }
    .testimonial-1, .rating-1 {
        align-self: flex-start;
        margin-right: 28px;
    }
    .testimonial-2, .rating-2 {
        align-self: center;
    }
    .testimonial-3, .rating-3 {
        align-self: flex-end;
        margin-left: 28px;
    }
    .rating-1 {
        justify-self: flex-start;
    }
}